
@model List<ContactViewModel>
@{
    ViewData["Title"] = "ContactGetAll";
}

<h1>ContactGetAll</h1>

<a asp-controller="Contact" asp-action="AddContact" class="btn btn-info">AddContact</a>
<input type="text" id="SearchWord" placeholder="search by Name, Phone, or Address" />


@if (Model != null && Model.Any())
{
    <h3>Results</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var con in Model)
            {
                <tr>
                    <td>@con.Name</td>
                    <td>@con.Phone</td>
                    <td>@con.Address</td>
                    <td><a asp-action="EditContact" asp-route-id="@con.Id" class="btn btn-warning btn-sm">Edit</a></td>
                    <td><a asp-action="DeleteContact" asp-route-id="@con.Id" id="delete-btn" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model == null)
{
    <p>No Contact found.</p>
}

@section Scripts {
    <script src="~/customjs\contact\contact.js"></script>
}