
@model List<ContactViewModel>
@{
    ViewData["Title"] = "ContactGetAll";
}
<style>
    #SearchWord {
        width: 100%;
        max-width: 500px;
        padding: 15px 20px;
        font-size: 18px;
        border: 2px solid #ccc;
        border-radius: 8px;
        transition: border-color 0.3s ease;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        margin: 20px 0;
    }

        #SearchWord:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
        }

    body {
        font-family: Arial, sans-serif;
        padding: 40px;
        background-color: #f9f9f9;
    }
</style>

<h1>ContactGetAll</h1>

<a asp-controller="Contact" asp-action="AddContact" class="btn btn-info">AddContact</a>
<input type="text" id="SearchWord" placeholder="search by Name, Phone, or Address" />


@if (Model != null && Model.Any())
{
    <h3>Results</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var con in Model)
            {
                <tr>
                    <td>@con.Name</td>
                    <td>@con.Phone</td>
                    <td>@con.Address</td>
                    <td><a asp-action="EditContact" asp-route-id="@con.Id" class="btn btn-warning btn-sm">Edit</a></td>
                    <td><a asp-action="DeleteContact" asp-route-id="@con.Id" id="delete-btn" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model == null)
{
    <p>No Contact found.</p>
}

@section Scripts {
    <script src="~/customjs\contact\contact.js"></script>
}