
@model ContactUpdateDto

@{
    ViewData["Title"] = "Edit Contact";
}

<h2>Edit Contact</h2>


<form asp-action="EditContact" asp-controller="Contact" id="contactForm" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" value="@Model.Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" value="@Model.Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notes"></label>
        <input asp-for="Notes" class="form-control" value="@Model.Notes" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="ContactGetAll" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <script src="~/customjs\contact\contact.js"></script>
}